body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#minefield {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 1px;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35824E;
    border: 1px solid #999999;
    cursor: pointer;
}

.cell.mine {
    background-color: red;
}

.cell.revealed {
    background-color: #ffffff;
}

.cell.flagged {
    background-color: yellow; 
    color: red;
}


